/* Internal Styles */
.text {
    font-size: 17px;
    color: rgb(172, 123, 105);
}

.list {
    font-size: 16px;
    color: rgb(56, 160, 16);
}

/* External Styles */
body {
    background-color: #c5f3e8; /* baby pink */
}

.heading {
    font-size: 20px; /* Increase heading font size */
    color: #130458; /* Dark gray text color */
}

.image {
    max-width: 100px; /* Reduce image size to a maximum width of 200px */
}
